## Going through Whole Dataset

In [1]:
import numpy as np
import pandas as pd

In [7]:
# import /Users/paulkelendji/Desktop/GitHub_paul/mcgill_fiam/raw_data/hackathon_sample_v2.csv
path = '../raw_data/hackathon_sample_v2.csv'
data = pd.read_csv(path)
data

,date,ret_eom,permno,shrcd,exchcd,mspread,year,month,size_port,rf,...,betadown_252d,bidaskhl_21d,corr_1260d,betabab_1260d,rmax5_rvol_21d,age,qmj,qmj_prof,qmj_growth,qmj_safety
0,20000131,20000131,10078,11,3,0.017178,2000,1,B,0.0041,...,2.219037,0.012635,0.504688,1.581540,1.373224,180,1.700939,1.711756,1.476410,1.087626
1,20000131,20000131,10104,11,3,0.019720,2000,1,B,0.0041,...,1.437330,0.016634,0.473872,1.941648,2.058353,180,0.828930,1.717670,-0.603531,0.608215
2,20000131,20000131,10107,11,3,0.011369,2000,1,B,0.0041,...,1.466883,0.003855,0.563178,1.228124,1.899772,180,1.190962,1.682187,-0.583515,1.336684
3,20000131,20000131,10108,11,1,0.010600,2000,1,B,0.0041,...,-0.285524,0.015658,0.327841,0.952188,1.187073,180,1.332815,1.453165,0.210170,1.130917
4,20000131,20000131,10119,11,1,0.003485,2000,1,B,0.0041,...,0.217867,0.004411,0.289368,0.457370,0.715285,228,0.785417,-0.381167,1.689625,0.331900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273368,20231229,20231231,93330,11,1,0.004891,2023,12,B,0.0043,...,0.946309,0.003779,0.720817,1.241060,1.464466,887,0.683460,0.169549,0.627055,0.745462
273369,20231229,20231231,93356,11,3,0.004867,2023,12,B,0.0043,...,1.481037,0.007985,0.642513,1.388323,1.578243,227,1.679546,1.550166,0.993086,1.619852
273370,20231229,20231231,93369,11,3,0.018935,2023,12,B,0.0043,...,1.239248,0.012130,0.454100,1.339266,1.407091,191,-0.039003,-0.435984,1.397522,-0.570584
273371,20231229,20231231,93374,11,1,0.004107,2023,12,B,0.0043,...,0.870553,0.003574,0.653959,1.200649,1.754520,227,-0.801070,-0.632446,-0.982286,0.687467
273372,20231229,20231231,93436,11,3,0.008236,2023,12,B,0.0043,...,1.808367,0.009113,0.564706,2.269720,1.288112,227,1.511532,1.098035,1.459927,0.787397

In [8]:
data[['eps_actual', 'date']]

        eps_actual      date
0            0.520  20000131
1            0.085  20000131
2            0.215  20000131
3            0.185  20000131
4            0.080  20000131
...            ...       ...
273368       4.250  20231229
273369       0.750  20231229
273370         NaN  20231229
273371       0.690  20231229
273372       0.710  20231229

[273373 rows x 2 columns]

In [3]:
data.columns.tolist()

['date',
 'ret_eom',
 'permno',
 'shrcd',
 'exchcd',
 'mspread',
 'year',
 'month',
 'size_port',
 'rf',
 'stock_exret',
 'stock_ticker',
 'cusip',
 'comp_name',
 'eps_medest',
 'eps_meanest',
 'eps_stdevest',
 'eps_actual',
 'prc',
 'market_equity',
 'div12m_me',
 'chcsho_12m',
 'eqnpo_12m',
 'ret_1_0',
 'ret_3_1',
 'ret_6_1',
 'ret_9_1',
 'ret_12_1',
 'ret_12_7',
 'ret_60_12',
 'seas_1_1an',
 'seas_1_1na',
 'seas_2_5an',
 'seas_2_5na',
 'at_gr1',
 'sale_gr1',
 'capx_gr1',
 'inv_gr1',
 'debt_gr3',
 'sale_gr3',
 'capx_gr3',
 'inv_gr1a',
 'lti_gr1a',
 'sti_gr1a',
 'coa_gr1a',
 'col_gr1a',
 'cowc_gr1a',
 'ncoa_gr1a',
 'ncol_gr1a',
 'nncoa_gr1a',
 'fnl_gr1a',
 'nfna_gr1a',
 'tax_gr1a',
 'be_gr1a',
 'ebit_sale',
 'gp_at',
 'cop_at',
 'ope_be',
 'ni_be',
 'ebit_bev',
 'netis_at',
 'eqnetis_at',
 'dbnetis_at',
 'oaccruals_at',
 'oaccruals_ni',
 'taccruals_at',
 'taccruals_ni',
 'noa_at',
 'opex_at',
 'at_turnover',
 'sale_bev',
 'rd_sale',
 'cash_at',
 'sale_emp_gr1',
 'emp_gr1',
 'ni_inc8q',
 'noa_gr1a',
 'ppeinv_gr1a',
 'lnoa_gr1a',
 'capx_gr2',
 'saleq_gr1',
 'niq_be',
 'niq_at',
 'niq_be_chg1',
 'niq_at_chg1',
 'rd5_at',
 'dsale_dinv',
 'dsale_drec',
 'dgp_dsale',
 'dsale_dsga',
 'saleq_su',
 'niq_su',
 'capex_abn',
 'op_atl1',
 'gp_atl1',
 'ope_bel1',
 'cop_atl1',
 'pi_nix',
 'ocf_at',
 'op_at',
 'ocf_at_chg1',
 'at_be',
 'ocfq_saleq_std',
 'tangibility',
 'earnings_variability',
 'aliq_at',
 'f_score',
 'o_score',
 'z_score',
 'intrinsic_value',
 'kz_index',
 'ni_ar1',
 'ni_ivol',
 'at_me',
 'be_me',
 'debt_me',
 'netdebt_me',
 'sale_me',
 'ni_me',
 'ocf_me',
 'fcf_me',
 'eqpo_me',
 'eqnpo_me',
 'rd_me',
 'bev_mev',
 'ebitda_mev',
 'aliq_mat',
 'eq_dur',
 'beta_60m',
 'resff3_12_1',
 'resff3_6_1',
 'mispricing_mgmt',
 'mispricing_perf',
 'ivol_capm_21d',
 'iskew_capm_21d',
 'coskew_21d',
 'beta_dimson_21d',
 'ivol_ff3_21d',
 'iskew_ff3_21d',
 'ivol_hxz4_21d',
 'iskew_hxz4_21d',
 'rmax5_21d',
 'rmax1_21d',
 'rvol_21d',
 'rskew_21d',
 'zero_trades_21d',
 'dolvol_126d',
 'dolvol_var_126d',
 'turnover_126d',
 'turnover_var_126d',
 'zero_trades_126d',
 'zero_trades_252d',
 'ami_126d',
 'ivol_capm_252d',
 'prc_highprc_252d',
 'betadown_252d',
 'bidaskhl_21d',
 'corr_1260d',
 'betabab_1260d',
 'rmax5_rvol_21d',
 'age',
 'qmj',
 'qmj_prof',
 'qmj_growth',
 'qmj_safety']

In [4]:
pd.to_datetime(data['date'], format='%Y%m%d')

0        2000-01-31
1        2000-01-31
2        2000-01-31
3        2000-01-31
4        2000-01-31
            ...
273368   2023-12-29
273369   2023-12-29
273370   2023-12-29
273371   2023-12-29
273372   2023-12-29
Name: date, Length: 273373, dtype: datetime64[ns]

# Inspecting Features

In [5]:
path = '../raw_data/factor_char_list.csv'
features = pd.read_csv(path)
features

              variable
0                  age
1              aliq_at
2             aliq_mat
3             ami_126d
4                at_be
..                 ...
142  turnover_var_126d
143            z_score
144   zero_trades_126d
145    zero_trades_21d
146   zero_trades_252d

[147 rows x 1 columns]

In [6]:
data[features.values.ravel().tolist()]

,age,aliq_at,aliq_mat,ami_126d,at_be,at_gr1,at_me,at_turnover,be_gr1a,be_me,...,taccruals_at,taccruals_ni,tangibility,tax_gr1a,turnover_126d,turnover_var_126d,z_score,zero_trades_126d,zero_trades_21d,zero_trades_252d
0,180,1.121600,0.182049,5.077000e-05,1.749945,0.474393,0.069654,1.659607,0.154168,0.039804,...,-0.040391,-0.329773,0.713126,0.019126,0.006637,0.413881,12.316691,0.001682,0.002363,0.001179
1,180,0.907900,0.117486,8.298000e-05,1.798574,0.156012,0.041240,1.477102,0.085320,0.022929,...,-0.080666,-0.398603,0.746288,0.026773,0.004560,0.537203,8.968428,0.002750,0.003090,0.002033
2,180,1.249955,0.080011,1.266000e-05,1.353194,0.661940,0.061677,0.663620,0.317876,0.045579,...,0.272850,1.302248,0.557709,0.039805,0.002797,0.504514,34.264445,0.004486,0.005251,0.004161
3,180,0.994621,0.210035,1.638150e-03,1.288101,0.429206,0.440077,1.229785,0.269988,0.341648,...,-0.128092,-2.253886,0.586962,0.023994,0.006632,0.841600,10.937550,0.001684,0.003236,0.001998
4,228,0.575456,0.272456,2.194013e-02,1.948324,0.019384,0.891287,0.587221,0.244711,0.457463,...,0.207124,3.262125,NaN,-0.011012,0.000501,1.741534,2.926037,0.009098,0.008933,0.008861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273368,887,0.554419,0.446069,4.154700e-04,7.319275,-0.037659,2.009781,0.182087,0.016265,0.274587,...,-0.016943,-0.500981,0.266588,0.001740,0.003792,0.529042,1.055334,0.007396,0.007126,0.007428
273369,227,0.628393,0.074570,5.340800e-04,1.212183,0.181063,0.116340,0.725588,0.142441,0.095975,...,-0.053482,-0.637063,0.499081,0.003918,0.004651,0.468250,33.390497,0.006694,0.006407,0.007125
273370,191,0.134346,0.113552,5.833200e-04,1.738098,-0.006660,1.140442,0.420854,0.014200,0.656144,...,-0.035302,-2.758887,0.120091,0.001661,0.006743,0.849106,2.721206,0.004985,0.004195,0.004977
273371,227,0.494366,0.481672,4.012800e-04,3.283290,-0.032659,2.558042,0.412717,-0.027894,0.779109,...,-0.029134,-1.906406,0.210268,-0.014947,0.005440,0.597852,0.914464,0.006060,0.004422,0.005824
273372,227,0.902084,0.095535,7.500000e-07,1.771778,0.322245,0.118700,1.181969,0.162621,0.066995,...,0.070327,0.522427,0.685681,0.001093,0.039701,0.205174,15.119252,0.000678,0.000549,0.000594

---

## Analysing a stock csv

In [10]:
import numpy as np
import pandas as pd

In [ ]:
path = "../stocks_data/00508Y10_89216.csv"
stock_data = pd.read_csv(path)
# Convert 'datetime' column to datetime64[ns]
stock_data['datetime'] = pd.to_datetime(stock_data['datetime'])
stock_data

In [ ]:
stock_data['prc']

In [ ]:
# add closing price
import yfinance as yf

stock_ticker = stock_data["stock_ticker"].iloc[-1]
start_date = pd.to_datetime(stock_data["datetime"].iloc[0]) - pd.DateOffset(months=1)
end_date = pd.to_datetime(stock_data["datetime"].iloc[-1]) + pd.DateOffset(months=1)

yfinance_data = yf.download(stock_ticker, start=start_date, end=end_date, interval="1d").resample('M').last()
yfinance_data = yfinance_data['Close']
yfinance_data = pd.DataFrame(yfinance_data)
yfinance_data.reset_index(inplace=True)
yfinance_data['year'] = yfinance_data['Date'].dt.year
yfinance_data['month'] = yfinance_data['Date'].dt.month
# reset Date as index
yfinance_data.set_index('Date', inplace=True)
yfinance_data

In [ ]:
tmp = pd.merge(stock_data, yfinance_data, on=['year', 'month'], how='left')
tmp

In [ ]:
tmp['prc, Adj Close']

In [42]:
# after fe_code_01
import pandas as pd
import numpy as np

## t1 var

In [61]:
import pandas as pd
import numpy as np

In [ ]:
# import /Users/paulkelendji/Desktop/GitHub_paul/mcgill_fiam/raw_data/hackathon_sample_v2.csv
path = '../raw_data/hackathon_sample_v2.csv'
data = pd.read_csv(path)
data

In [ ]:
datetime_series = pd.to_datetime(data['date'], format='%Y%m%d')
datetime_series

---

In [13]:
import pandas as pd
import numpy as np

In [ ]:
# import /Users/paulkelendji/Desktop/GitHub_paul/mcgill_fiam/raw_data/hackathon_sample_v2.csv
path = '../raw_data/hackathon_sample_v2.csv'
data = pd.read_csv(path)
data

In [ ]:
# add a new column 'datetime' with the date in datetime format
data['datetime'] = pd.to_datetime(data['date'], format='%Y%m%d')
# set 'datetime' as index
data.set_index('datetime', inplace=True)
data.index