In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import yfinance as yf

In [2]:
# download appl stock data from yahoo finance, 2010-01-01 to 2020-01-01
# end of month data

appl = yf.download('AAPL', start='2010-01-01', end='2020-01-01')
# end of month
appl = appl.resample('M').last()
appl

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close      Volume
Date
2010-01-31   7.181429   7.221429   6.794643   6.859286   5.792495  1245952400
2010-02-28   7.227857   7.327500   7.214286   7.307857   6.171303   507460800
2010-03-31   8.410357   8.450357   8.373571   8.392857   7.087559   430659600
2010-04-30   9.618214   9.663214   9.321429   9.324643   7.874429   542463600
2010-05-31   9.263929   9.264286   9.048214   9.174286   7.747458   815614800
...               ...        ...        ...        ...        ...         ...
2019-08-31  52.540001  52.612499  51.799999  52.185001  50.496510    84573600
2019-09-30  55.224998  56.145000  55.197498  55.992500  54.180805   103909600
2019-10-31  61.810001  62.292500  59.314999  62.189999  60.177788   139162000
2019-11-30  66.650002  67.000000  66.474998  66.812500  64.844810    46617600
2019-12-31  72.482498  73.419998  72.379997  73.412498  71.250458   100805600

[120 rows x 6 columns]

In [ ]:
import yfinance as yf

# Define the ticker symbol (e.g., "AAPL" for Apple)
ticker = "AAPL"

# Fetch data from Yahoo Finance
# Specify the time period and interval (e.g., '1mo' for monthly bars)
data = yf.download(ticker, period="10y", interval="1mo")

# Display the first few rows of the monthly time bars
print(data.head())