In [25]:
import numpy as np
import pandas as pd

import pickle

In [26]:
# load objects/X_dataset.pkl
with open('../objects/X_dataset.pkl', 'rb') as f:
    X = pickle.load(f)
    
with open('../objects/stacked_data.pkl', 'rb') as f:
    stacked_data = pickle.load(f)
    
X

,age,aliq_at,aliq_mat,ami_126d,at_be,at_gr1,at_me,at_turnover,be_gr1a,be_me,...,tangibility,tax_gr1a,turnover_126d,turnover_var_126d,z_score,zero_trades_126d,zero_trades_21d,zero_trades_252d,log_diff,frac_diff
0,120,1.295733,0.417525,0.005107,1.122615,0.506481,0.238220,1.252498,0.297493,0.212201,...,0.863625,-0.002962,0.004634,0.715279,17.704167,0.002700,0.004567,0.002649,0.000000,0.000000
32352,96,1.096150,0.346055,0.000791,1.541059,0.553620,0.208033,0.442959,0.181445,0.134994,...,0.608447,0.106718,0.007955,0.601115,4.770657,0.001248,0.001727,0.001110,0.000000,0.000000
99334,156,0.647516,NaN,0.010746,NaN,0.082781,0.697189,1.187659,NaN,NaN,...,0.423491,-0.003943,0.004063,3.548638,2.894741,0.003145,0.000627,0.005001,0.000000,0.000000
118016,592,0.576697,0.451167,0.004424,1.990581,0.088065,2.089448,0.589410,-0.000301,1.049667,...,0.841001,0.006103,0.002034,1.733900,1.783259,0.005700,0.005968,0.005845,0.000000,0.000000
89427,607,0.472305,0.558027,0.000710,2.076496,-0.150502,3.715370,0.422993,-0.031749,1.789250,...,0.712655,0.003768,0.002462,0.615604,1.315277,0.004981,0.005295,0.004864,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55187,1175,0.558780,0.386376,0.000048,2.111031,-0.102365,1.411248,1.702660,0.005730,0.668511,...,0.645765,-0.000162,0.005179,0.418967,3.735953,0.006271,0.005140,0.006253,0.035819,1.256482
74820,491,0.410416,0.365300,0.000285,1.792053,-0.019884,1.375613,1.516345,0.047225,0.767618,...,0.396848,-0.027064,0.010963,0.554202,4.004481,0.002863,0.003260,0.002741,0.119286,3.383744
18615,491,0.764504,0.174491,0.000020,2.287607,0.092233,0.199058,0.968862,0.102856,0.087016,...,0.640504,0.000556,0.008240,0.407987,8.998584,0.004051,0.004535,0.003793,0.196467,1.761142
74225,803,0.528644,0.241474,0.000024,2.067881,0.021082,0.645741,0.368459,-0.019191,0.312272,...,0.695833,-0.000218,0.006412,0.421794,2.750813,0.005201,0.005098,0.005371,0.082282,0.870261
131463,503,0.641255,0.442599,0.000042,33.215746,-0.010506,1.645095,4.696993,-0.055928,0.061762,...,0.564133,0.004906,0.008848,0.401815,5.220122,0.003734,0.003258,0.003681,0.162717,1.630806

In [27]:
path = '../raw_data/factor_char_list.csv'
features = pd.read_csv(path)
features_list = features.values.ravel().tolist()
features_list

['age',
 'aliq_at',
 'aliq_mat',
 'ami_126d',
 'at_be',
 'at_gr1',
 'at_me',
 'at_turnover',
 'be_gr1a',
 'be_me',
 'beta_60m',
 'beta_dimson_21d',
 'betabab_1260d',
 'betadown_252d',
 'bev_mev',
 'bidaskhl_21d',
 'capex_abn',
 'capx_gr1',
 'capx_gr2',
 'capx_gr3',
 'cash_at',
 'chcsho_12m',
 'coa_gr1a',
 'col_gr1a',
 'cop_at',
 'cop_atl1',
 'corr_1260d',
 'coskew_21d',
 'cowc_gr1a',
 'dbnetis_at',
 'debt_gr3',
 'debt_me',
 'dgp_dsale',
 'div12m_me',
 'dolvol_126d',
 'dolvol_var_126d',
 'dsale_dinv',
 'dsale_drec',
 'dsale_dsga',
 'earnings_variability',
 'ebit_bev',
 'ebit_sale',
 'ebitda_mev',
 'emp_gr1',
 'eq_dur',
 'eqnetis_at',
 'eqnpo_12m',
 'eqnpo_me',
 'eqpo_me',
 'f_score',
 'fcf_me',
 'fnl_gr1a',
 'gp_at',
 'gp_atl1',
 'intrinsic_value',
 'inv_gr1',
 'inv_gr1a',
 'iskew_capm_21d',
 'iskew_ff3_21d',
 'iskew_hxz4_21d',
 'ivol_capm_21d',
 'ivol_capm_252d',
 'ivol_ff3_21d',
 'ivol_hxz4_21d',
 'kz_index',
 'lnoa_gr1a',
 'lti_gr1a',
 'market_equity',
 'mispricing_mgmt',
 'mispricing_perf',
 'ncoa_gr1a',
 'ncol_gr1a',
 'netdebt_me',
 'netis_at',
 'nfna_gr1a',
 'ni_ar1',
 'ni_be',
 'ni_inc8q',
 'ni_ivol',
 'ni_me',
 'niq_at',
 'niq_at_chg1',
 'niq_be',
 'niq_be_chg1',
 'niq_su',
 'nncoa_gr1a',
 'noa_at',
 'noa_gr1a',
 'o_score',
 'oaccruals_at',
 'oaccruals_ni',
 'ocf_at',
 'ocf_at_chg1',
 'ocf_me',
 'ocfq_saleq_std',
 'op_at',
 'op_atl1',
 'ope_be',
 'ope_bel1',
 'opex_at',
 'pi_nix',
 'ppeinv_gr1a',
 'prc',
 'prc_highprc_252d',
 'qmj',
 'qmj_growth',
 'qmj_prof',
 'qmj_safety',
 'rd_me',
 'rd_sale',
 'rd5_at',
 'resff3_12_1',
 'resff3_6_1',
 'ret_1_0',
 'ret_12_1',
 'ret_12_7',
 'ret_3_1',
 'ret_6_1',
 'ret_60_12',
 'ret_9_1',
 'rmax1_21d',
 'rmax5_21d',
 'rmax5_rvol_21d',
 'rskew_21d',
 'rvol_21d',
 'sale_bev',
 'sale_emp_gr1',
 'sale_gr1',
 'sale_gr3',
 'sale_me',
 'saleq_gr1',
 'saleq_su',
 'seas_1_1an',
 'seas_1_1na',
 'seas_2_5an',
 'seas_2_5na',
 'sti_gr1a',
 'taccruals_at',
 'taccruals_ni',
 'tangibility',
 'tax_gr1a',
 'turnover_126d',
 'turnover_var_126d',
 'z_score',
 'zero_trades_126d',
 'zero_trades_21d',
 'zero_trades_252d']

In [28]:
# Investigate NAs in X

# NAs per column
nas = X.isna().sum()
nas.sort_values(ascending=False, inplace=True)
nas

rd5_at              59667
rd_me               57592
rd_sale             57592
dsale_dsga          26471
inv_gr1             18110
                    ...
opex_at                 0
prc                     0
prc_highprc_252d        0
qmj_prof                0
frac_diff               0
Length: 149, dtype: int64

In [29]:
# Group by year, and count NAs
# X does not have 'year', so we use 'year' from stacked_data
X['year'] = stacked_data['year']
nas_year = X.groupby('year').apply(lambda x: x.isna().sum())
nas_year

,age,aliq_at,aliq_mat,ami_126d,at_be,at_gr1,at_me,at_turnover,be_gr1a,be_me,...,tax_gr1a,turnover_126d,turnover_var_126d,z_score,zero_trades_126d,zero_trades_21d,zero_trades_252d,log_diff,frac_diff,year
year,,,,,,,,,,,,,,,,,,,,,
2000,0,304,347,0,41,2,0,0,67,41,...,14,0,0,368,0,0,0,0,0,0
2001,0,358,409,0,34,0,0,0,65,34,...,3,0,0,431,0,0,0,0,0,0
2002,0,360,413,0,36,0,0,0,51,36,...,0,0,0,459,0,0,0,0,0,0
2003,0,372,415,0,31,0,0,0,41,31,...,0,0,0,468,0,0,0,0,0,0
2004,0,391,425,0,19,0,0,0,34,19,...,0,0,0,487,0,0,0,0,0,0
2005,0,402,428,0,12,0,0,0,25,12,...,0,0,0,500,0,0,0,0,0,0
2006,0,398,423,0,12,0,0,0,22,12,...,0,0,0,506,0,0,0,0,0,0
2007,0,401,429,0,12,0,0,0,25,12,...,0,0,0,491,0,0,0,0,0,0
2008,0,407,454,0,12,0,0,0,49,12,...,0,0,0,471,0,0,0,0,0,0
2009,0,398,415,0,12,0,0,0,29,12,...,0,0,0,458,0,0,0,0,0,0
2010,0,406,418,0,12,0,0,0,24,12,...,0,0,0,470,0,0,0,0,0,0
2011,0,399,411,0,12,0,0,0,24,12,...,0,0,0,459,0,0,0,0,0,0
2012,0,391,403,0,12,0,0,0,19,12,...,0,0,0,451,0,0,0,0,0,0
2013,0,374,386,0,12,0,0,0,12,12,...,0,0,0,438,0,0,0,0,0,0
2014,0,367,379,0,12,0,0,0,12,12,...,0,0,0,432,0,0,0,0,0,0
2015,0,397,409,0,12,0,0,0,12,12,...,0,0,0,457,0,0,0,0,0,0
2016,0,366,371,0,5,0,0,0,5,5,...,0,0,0,425,0,0,0,0,0,0
2017,0,368,368,0,0,0,0,0,0,0,...,0,0,0,428,0,0,0,0,0,0
2018,0,371,371,0,0,0,0,0,0,0,...,0,0,0,430,0,0,0,0,0,0
2019,0,365,365,0,0,0,0,0,0,0,...,0,0,0,413,0,0,0,0,0,0
2020,0,320,320,0,0,0,0,0,0,0,...,0,0,0,368,0,0,0,0,0,0
2021,0,314,314,0,0,0,0,0,0,0,...,0,0,0,362,0,0,0,0,0,0
2022,0,325,325,0,0,0,0,0,0,0,...,0,0,0,373,0,0,0,0,0,0
2023,0,300,300,0,0,0,0,0,0,0,...,0,0,0,348,0,0,0,0,0,0

In [30]:
# check per stock
X['ticker'] = stacked_data['stock_ticker']
nas_stock = X.groupby('ticker').apply(lambda x: x.isna().sum())
nas_stock

,age,aliq_at,aliq_mat,ami_126d,at_be,at_gr1,at_me,at_turnover,be_gr1a,be_me,...,turnover_126d,turnover_var_126d,z_score,zero_trades_126d,zero_trades_21d,zero_trades_252d,log_diff,frac_diff,year,ticker
ticker,,,,,,,,,,,,,,,,,,,,,
A,0,0,1,0,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0
AA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AAP,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AAPL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ABT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YHOO,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
YUM,0,0,11,0,0,0,0,0,11,0,...,0,0,0,0,0,0,0,0,0,0
ZBH,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ZBRA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ZION,0,288,288,0,0,0,0,0,0,0,...,0,0,288,0,0,0,0,0,0,0

In [31]:

# For each feature, count the number of stoks (rows) with NAs
nas_stock_count=(nas_stock>0).sum().sort_values(ascending=False)
nas_stock_count

rd5_at              293
rd_me               250
rd_sale             250
dsale_dsga          150
dsale_dinv          109
                   ...
opex_at               0
prc                   0
prc_highprc_252d      0
qmj_prof              0
ticker                0
Length: 151, dtype: int64

In [32]:
nas_feature_stock_count = (nas_stock_count>0).sum()
nas_feature_stock_count

97

In [47]:
# Group by year and ticker, then count the number of NAs (missing values) for each feature
nas_feature_year_stock = X.groupby(['year', 'ticker']).apply(lambda group: group.isna().sum()>0)

# Display the result
print(nas_feature_year_stock)

               age  aliq_at  aliq_mat  ami_126d  at_be  at_gr1  at_me  \
year ticker
2000 A       False    False      True     False  False   False  False
     AA      False    False     False     False  False   False  False
     AAPL    False    False     False     False  False   False  False
     ABT     False    False     False     False  False   False  False
     ADBE    False    False     False     False  False   False  False
...            ...      ...       ...       ...    ...     ...    ...
2023 XOM     False    False     False     False  False   False  False
     YUM     False    False     False     False  False   False  False
     ZBH     False    False     False     False  False   False  False
     ZBRA    False    False     False     False  False   False  False
     ZION    False     True      True     False  False   False  False

             at_turnover  be_gr1a  be_me  ...  turnover_126d  \
year ticker                               ...
2000 A             False    False  False  ...          False
     AA            False    False  False  ...          False
     AAPL          False    False  False  ...          False
     ABT           False    False  False  ...          False
     ADBE          False    False  False  ...          False
...                  ...      ...    ...  ...            ...
2023 XOM           False    False  False  ...          False
     YUM           False    False  False  ...          False
     ZBH           False    False  False  ...          False
     ZBRA          False    False  False  ...          False
     ZION          False    False  False  ...          False

             turnover_var_126d  z_score  zero_trades_126d  zero_trades_21d  \
year ticker
2000 A                   False     True             False            False
     AA                  False    False             False            False
     AAPL                False    False             False            False
     ABT                 False    False             False            False
     ADBE                False    False             False            False
...                        ...      ...               ...              ...
2023 XOM                 False    False             False            False
     YUM                 False    False             False            False
     ZBH                 False    False             False            False
     ZBRA                False    False             False            False
     ZION                False     True             False            False

             zero_trades_252d  log_diff  frac_diff   year  ticker
year ticker
2000 A                  False     False      False  False   False
     AA                 False     False      False  False   False
     AAPL               False     False      False  False   False
     ABT                False     False      False  False   False
     ADBE               False     False      False  False   False
...                       ...       ...        ...    ...     ...
2023 XOM                False     False      False  False   False
     YUM                False     False      False  False   False
     ZBH                False     False      False  False   False
     ZBRA               False     False      False  False   False
     ZION               False     False      False  False   False

[11320 rows x 151 columns]

In [50]:
# Group by the 'year' index level and sum the boolean values
nas_feature_year = nas_feature_year_stock.groupby(level='year').sum()

# Display the result
print(nas_feature_year)

      age  aliq_at  aliq_mat  ami_126d  at_be  at_gr1  at_me  at_turnover  \
year
2000    0       29        42         0      6       2      0            0
2001    0       30        42         0      5       0      0            0
2002    0       31        45         0      3       0      0            0
2003    0       31        38         0      3       0      0            0
2004    0       34        38         0      2       0      0            0
2005    0       34        39         0      1       0      0            0
2006    0       34        40         0      1       0      0            0
2007    0       36        42         0      1       0      0            0
2008    0       35        45         0      1       0      0            0
2009    0       36        39         0      1       0      0            0
2010    0       34        35         0      1       0      0            0
2011    0       34        35         0      1       0      0            0
2012    0       35        36         0      1       0      0            0
2013    0       33        34         0      1       0      0            0
2014    0       32        33         0      1       0      0            0
2015    0       35        36         0      1       0      0            0
2016    0       32        33         0      1       0      0            0
2017    0       31        31         0      0       0      0            0
2018    0       31        31         0      0       0      0            0
2019    0       31        31         0      0       0      0            0
2020    0       28        28         0      0       0      0            0
2021    0       27        27         0      0       0      0            0
2022    0       28        28         0      0       0      0            0
2023    0       27        27         0      0       0      0            0

      be_gr1a  be_me  ...  turnover_126d  turnover_var_126d  z_score  \
year                  ...
2000       13      6  ...              0                  0       35
2001        9      5  ...              0                  0       38
2002        8      3  ...              0                  0       42
2003        5      3  ...              0                  0       39
2004        4      2  ...              0                  0       42
2005        4      1  ...              0                  0       43
2006        3      1  ...              0                  0       43
2007        3      1  ...              0                  0       45
2008        7      1  ...              0                  0       41
2009        4      1  ...              0                  0       41
2010        2      1  ...              0                  0       40
2011        2      1  ...              0                  0       39
2012        2      1  ...              0                  0       40
2013        1      1  ...              0                  0       39
2014        1      1  ...              0                  0       38
2015        1      1  ...              0                  0       40
2016        1      1  ...              0                  0       37
2017        0      0  ...              0                  0       36
2018        0      0  ...              0                  0       36
2019        0      0  ...              0                  0       35
2020        0      0  ...              0                  0       32
2021        0      0  ...              0                  0       31
2022        0      0  ...              0                  0       32
2023        0      0  ...              0                  0       31

      zero_trades_126d  zero_trades_21d  zero_trades_252d  log_diff  \
year
2000                 0                0                 0         0
2001                 0                0                 0         0
2002                 0                0                 0         0
2003                 0                0                 0         0
2004                 0                0                 0         0
2005                 0                0                 0         0
2006                 0                0                 0         0
2007                 0                0                 0         0
2008                 0                0                 0         0
2009                 0                0                 0         0
2010                 0                0                 0         0
2011                 0                0                 0         0
2012                 0                0                 0         0
2013                 0                0                 0         0
2014                 0                0                 0         0
2015                 0                0                 0         0
2016                 0                0                 0         0
2017                 0                0                 0         0
2018                 0                0                 0         0
2019                 0                0                 0         0
2020                 0                0                 0         0
2021                 0                0                 0         0
2022                 0                0                 0         0
2023                 0                0                 0         0

      frac_diff  year  ticker
year
2000          0     0       0
2001          0     0       0
2002          0     0       0
2003          0     0       0
2004          0     0       0
2005          0     0       0
2006          0     0       0
2007          0     0       0
2008          0     0       0
2009          0     0       0
2010          0     0       0
2011          0     0       0
2012          0     0       0
2013          0     0       0
2014          0     0       0
2015          0     0       0
2016          0     0       0
2017          0     0       0
2018          0     0       0
2019          0     0       0
2020          0     0       0
2021          0     0       0
2022          0     0       0
2023          0     0       0

[24 rows x 151 columns]