In [1]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd

import pickle

In [2]:
with open('../objects/market_caps.pkl', 'rb') as f:
    market_caps = pickle.load(f)
    
with open('../objects/prices.pkl', 'rb') as f:
    prices = pickle.load(f)
    
with open('../objects/signals.pkl', 'rb') as f:
    signals = pickle.load(f)

In [3]:
market_caps

,CSCO.csv,TROW.csv,ISRG.csv,NVR.csv,LECO.csv,DVN.csv,CR.csv,CE.csv,MRO.csv,BA.csv,...,CRM.csv,PGR.csv,WAT.csv,IEX.csv,NAV.csv,BWA.csv,LRCX.csv,NWL.csv,BLK.csv,PPL.csv
datetime,,,,,,,,,,,,,,,,,,,,,
2000-01-31,350424.19338,NaN,NaN,NaN,899.126250,NaN,1309.583625,NaN,NaN,38725.001250,...,NaN,5334.322500,3296.070000,900.102375,2988.448000,1095.120000,4475.999063,8179.102000,NaN,NaN
2000-02-29,358193.22450,NaN,NaN,NaN,852.807625,NaN,1288.992688,NaN,NaN,41587.030000,...,NaN,4541.013000,4594.286250,796.386875,2444.333312,909.220000,5010.109875,8443.512625,NaN,3331.904625
2000-03-31,432407.91656,NaN,NaN,NaN,848.796000,NaN,1309.583625,NaN,NaN,34519.571250,...,NaN,4340.406000,6098.506875,NaN,2036.296750,865.280000,6263.891125,6557.383500,NaN,2891.841750
2000-04-28,505804.81588,NaN,NaN,NaN,1028.646000,NaN,1450.389688,NaN,NaN,32848.399375,...,NaN,5552.106125,5923.597500,NaN,2483.175750,1050.761250,5606.270688,6997.695687,NaN,3008.635000
2000-05-31,485366.20313,NaN,NaN,NaN,NaN,NaN,1654.290625,NaN,NaN,34432.081250,...,NaN,4776.544875,5994.927250,927.281250,2166.010000,1115.808375,5707.354625,6713.879250,NaN,3430.742000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-31,211594.64372,27646.602179,113979.55986,20489.623370,11523.363615,34651.800000,NaN,13640.927254,16224.457363,144075.279080,...,219159.73465,73744.410645,16305.780636,17071.687435,NaN,10898.344500,95772.560228,4622.471937,110652.388890,20291.482546
2023-09-29,233185.09380,25172.628603,109861.67883,20815.605375,11049.706365,32733.363098,NaN,13754.538786,15959.852681,135135.791380,...,215702.04654,78124.529695,16596.121679,17116.292339,NaN,9578.817250,93076.432035,4382.235968,104592.720340,18368.257936
2023-10-31,217989.15927,23442.640414,102886.08301,19464.210563,10398.387616,30561.390489,NaN,13663.102675,16202.127250,115622.138300,...,197304.93881,81537.027986,16206.633125,15726.728363,NaN,9489.493059,82778.770020,3740.225889,96522.895012,17365.816446
2023-11-30,211074.37432,20224.035000,92320.32027,17666.792063,9998.560175,29837.398804,NaN,12464.642753,16541.311647,113021.807570,...,195407.59178,92535.449916,14097.838518,14475.572937,NaN,8673.825059,77522.686379,NaN,91415.245214,18110.276505
2023-12-29,196590.97322,22376.050486,109438.05919,19567.985245,11329.031860,28812.279782,NaN,15093.834699,14882.831389,140130.825460,...,245098.69406,95964.274516,16591.626604,15252.251126,NaN,7919.002627,94352.526388,NaN,111754.474350,19253.679499

In [4]:
prices

,CSCO.csv,TROW.csv,ISRG.csv,NVR.csv,LECO.csv,DVN.csv,CR.csv,CE.csv,MRO.csv,BA.csv,...,CRM.csv,PGR.csv,WAT.csv,IEX.csv,NAV.csv,BWA.csv,LRCX.csv,NWL.csv,BLK.csv,PPL.csv
datetime,,,,,,,,,,,,,,,,,,,,,
2000-01-31,107.125000,NaN,NaN,NaN,20.625000,NaN,19.875000,NaN,NaN,41.437500,...,NaN,73.125000,53.000000,30.375000,47.000000,40.500000,111.562500,29.000000,NaN,NaN
2000-02-29,109.500000,NaN,NaN,NaN,19.562500,NaN,19.562500,NaN,NaN,44.500000,...,NaN,62.250000,73.874999,27.015000,39.312500,33.775000,124.875000,29.937500,NaN,23.187500
2000-03-31,132.187500,NaN,NaN,NaN,19.500000,NaN,19.875000,NaN,NaN,37.077500,...,NaN,59.500000,98.062500,NaN,32.750000,32.142751,156.125000,23.460000,NaN,20.125000
2000-04-28,154.624999,NaN,NaN,NaN,24.327500,NaN,23.662500,NaN,NaN,37.955816,...,NaN,76.127500,95.250000,NaN,40.124999,39.550651,135.187499,25.036613,NaN,21.202500
2000-05-31,138.656250,NaN,NaN,NaN,NaN,NaN,26.989058,NaN,NaN,39.837923,...,NaN,65.493420,94.750000,24.878930,34.999999,42.149694,137.624999,25.415000,NaN,24.177179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-31,149.635031,437.624079,1962.105663,4643.091208,190.833710,165.103745,NaN,161.021201,137.762499,370.579518,...,900.039929,2667.141226,552.420017,217.850664,NaN,509.886442,2474.861150,23.708510,1124.506877,104.582748
2023-09-29,164.903318,398.463013,1891.218234,4695.283787,182.989666,156.206488,NaN,162.266840,138.706437,347.586045,...,885.839978,2825.713076,561.600010,218.419864,NaN,448.042149,2419.438760,22.625057,1066.200242,94.667709
2023-10-31,154.580685,376.663466,1767.891161,4390.455638,173.453198,147.339807,NaN,161.188138,140.812035,297.394506,...,811.119952,2949.140900,548.420017,200.687731,NaN,443.864076,2165.817908,19.310422,991.547676,90.412978
2023-11-30,151.015216,325.050470,1586.015285,3985.019930,166.783765,143.849364,NaN,147.948424,143.759873,289.854162,...,803.319965,3349.063744,477.060024,185.280639,NaN,405.711805,2032.607348,NaN,939.078483,94.288918
2023-12-29,140.151855,359.638705,1880.089168,4531.881400,188.977068,138.907152,NaN,179.150543,134.442595,359.377575,...,1007.599921,3474.899958,561.220005,195.221760,NaN,371.627585,2473.877609,NaN,1152.191602,100.237144

In [5]:
signals

,CSCO.csv,TROW.csv,ISRG.csv,NVR.csv,LECO.csv,DVN.csv,CR.csv,CE.csv,MRO.csv,BA.csv,...,CRM.csv,PGR.csv,WAT.csv,IEX.csv,NAV.csv,BWA.csv,LRCX.csv,NWL.csv,BLK.csv,PPL.csv
datetime,,,,,,,,,,,,,,,,,,,,,
2000-01-31,-0.068428,NaN,NaN,NaN,0.839106,NaN,0.164985,NaN,NaN,0.410920,...,NaN,-0.937224,0.706591,0.515350,-0.983682,0.289119,0.660933,0.841985,NaN,NaN
2000-02-29,-0.783230,NaN,NaN,NaN,-0.297985,NaN,-0.006372,NaN,NaN,-0.019744,...,NaN,0.611627,0.936835,0.398774,-0.767486,-0.120490,-0.982923,0.371667,NaN,0.711903
2000-03-31,0.536081,NaN,NaN,NaN,0.390178,NaN,0.160535,NaN,NaN,0.101729,...,NaN,-0.562194,-0.943784,NaN,-0.894582,0.328641,-0.522553,0.329181,NaN,-0.808639
2000-04-28,0.670178,NaN,NaN,NaN,0.807436,NaN,0.644710,NaN,NaN,-0.539339,...,NaN,-0.235627,0.907731,NaN,-0.793983,0.842261,-0.622789,0.476122,NaN,-0.804986
2000-05-31,-0.676545,NaN,NaN,NaN,NaN,NaN,-0.469970,NaN,NaN,-0.425737,...,NaN,-0.557745,0.840381,0.159965,0.481984,-0.902394,-0.505604,-0.759714,NaN,-0.571018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-31,0.081064,0.023052,-0.243806,0.311559,0.326531,-0.758359,NaN,0.178838,0.050018,0.620424,...,0.674833,-0.587764,0.933526,0.794775,NaN,0.282778,-0.935633,0.343524,0.668682,0.143195
2023-09-29,-0.594895,-0.797499,0.366664,0.463580,0.130692,-0.757577,NaN,0.779314,-0.583872,0.880701,...,-0.924495,-0.539927,0.858536,-0.819344,NaN,-0.211508,-0.934193,-0.408239,0.072258,-0.055772
2023-10-31,0.582665,0.320963,0.358667,0.745151,0.305159,0.251416,NaN,-0.422033,0.008044,-0.086896,...,-0.115862,-0.116692,-0.789654,0.238056,NaN,-0.995436,0.351298,0.737864,-0.716466,-0.398421
2023-11-30,0.952046,0.443243,-0.785380,-0.846110,-0.782436,0.248976,NaN,-0.004517,0.190093,0.940333,...,-0.766543,0.198130,0.620957,0.490970,NaN,0.736794,-0.787018,NaN,-0.125064,0.590115
2023-12-29,0.238754,0.229679,-0.873826,-0.174776,0.843194,-0.978376,NaN,-0.202454,0.463600,-0.762677,...,-0.385335,-0.997126,-0.629448,-0.468850,NaN,-0.641571,-0.592139,NaN,0.151840,-0.333719