In [14]:
import numpy as np
import pandas as pd
import pickle

1. **MUST RUN 01-Data_Preprocessing/01-preprocessing_code.py AND 02-Feature_Engineering/01-fe_code.py BEFORE**

### We have the following dataset :

In [15]:
# load objects/X_DATASET.pkl and objects/Y_DATASET.pkl
X = pd.read_pickle('../objects/X_DATASET.pkl')
Y = pd.read_pickle('../objects/Y_DATASET.pkl')

In [16]:
X

,age,aliq_at,aliq_mat,ami_126d,at_be,at_gr1,at_me,at_turnover,be_gr1a,be_me,...,tax_gr1a,turnover_126d,turnover_var_126d,z_score,zero_trades_126d,zero_trades_21d,zero_trades_252d,log_diff,frac_diff,sadf
0,132,0.985818,0.059472,0.000026,1.260918,0.651395,0.042021,1.028183,0.310450,0.033325,...,0.018174,0.003022,0.336775,43.032362,0.004157,0.005002,0.003226,0.000000,0.000000,0.000000
23522,600,0.610528,0.069305,0.000105,2.318300,-0.088342,0.149204,0.845524,-0.035351,0.064359,...,-0.013003,0.002484,0.472298,10.113916,0.004944,0.006133,0.004822,0.000000,0.000000,0.000000
75824,325,NaN,NaN,0.004628,11.225380,0.119811,4.214064,0.086138,0.003968,0.375405,...,0.001342,0.003168,0.729098,NaN,0.003974,0.004473,0.004011,0.000000,0.000000,0.000000
76014,60,0.616255,0.219590,0.000887,2.971011,0.093083,0.441731,1.506417,0.083045,0.148680,...,0.002257,0.003886,0.509687,5.348204,0.003278,0.004529,0.003185,0.000000,0.000000,0.000000
129371,72,0.613501,0.109210,0.001278,2.574726,0.012174,0.169081,1.197614,0.235894,0.065669,...,0.029722,0.006013,1.056336,8.349836,0.001912,0.002674,0.002260,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77686,654,0.348917,0.075573,0.000042,4.048223,0.026266,0.219966,0.381231,0.051937,0.054336,...,-0.012389,0.003985,0.431750,5.694486,0.007268,0.005775,0.007261,0.171796,1.194481,-1.250080
110708,875,0.541670,0.469106,0.000079,3.390920,0.101955,2.579604,0.224324,0.020290,0.760739,...,0.000223,0.012001,0.473572,0.648063,0.002548,0.001582,0.002992,0.018898,0.624563,-0.776705
77970,683,0.412350,0.106346,0.000052,23.971774,-0.034589,0.334292,1.221020,-0.062910,0.013945,...,-0.009924,0.011881,0.590305,3.961255,0.002585,0.001735,0.003006,0.197150,1.228235,-1.518445
9565,527,0.566360,0.404144,0.000205,5.153496,0.190384,1.926307,2.614588,-0.023169,0.373786,...,-0.006986,0.013285,0.537003,3.973304,0.002241,0.002721,0.002129,0.039123,1.378815,-1.278062
131463,936,0.502752,0.448166,0.000064,2.224959,0.033296,1.989022,0.229889,-0.000261,0.893959,...,0.000052,0.007469,0.391692,1.081265,0.004487,0.003086,0.004744,0.061175,1.207845,-2.129311

In [17]:
Y

,stock_exret,target,prediction,probability,t1,t1_index,weight_attr
0,0.018070,1,1.0,0.001768,2000-01-31,2000-01-03,0.018070
23522,0.001539,1,1.0,0.903959,2000-01-31,2000-01-03,0.001539
75824,0.054724,1,1.0,0.878245,2000-01-31,2000-01-03,0.054724
76014,0.009531,1,1.0,0.063819,2000-01-31,2000-01-03,0.009531
129371,0.389768,1,-1.0,0.234751,2000-01-31,2000-01-03,0.389768
...,...,...,...,...,...,...,...
77686,0.065845,1,-1.0,0.116757,2023-12-29,2023-12-01,0.065845
110708,0.031191,1,1.0,0.112236,2023-12-29,2023-12-01,0.031191
77970,-0.009602,-1,1.0,0.010973,2023-12-29,2023-12-01,0.009602
9565,0.105924,1,-1.0,0.149794,2023-12-29,2023-12-01,0.105924
131463,0.042407,1,1.0,0.963034,2023-12-29,2023-12-01,0.042407

In [18]:
X['t1_index'] = Y['t1_index']
X.reset_index(inplace=True)
X.set_index(['t1_index', 'index'], inplace=True)
X

                   age   aliq_at  aliq_mat  ami_126d      at_be    at_gr1  \
t1_index   index
2000-01-03 0       132  0.985818  0.059472  0.000026   1.260918  0.651395
           23522   600  0.610528  0.069305  0.000105   2.318300 -0.088342
           75824   325       NaN       NaN  0.004628  11.225380  0.119811
           76014    60  0.616255  0.219590  0.000887   2.971011  0.093083
           129371   72  0.613501  0.109210  0.001278   2.574726  0.012174
...                ...       ...       ...       ...        ...       ...
2023-12-01 77686   654  0.348917  0.075573  0.000042   4.048223  0.026266
           110708  875  0.541670  0.469106  0.000079   3.390920  0.101955
           77970   683  0.412350  0.106346  0.000052  23.971774 -0.034589
           9565    527  0.566360  0.404144  0.000205   5.153496  0.190384
           131463  936  0.502752  0.448166  0.000064   2.224959  0.033296

                      at_me  at_turnover   be_gr1a     be_me  ...  tax_gr1a  \
t1_index   index                                              ...
2000-01-03 0       0.042021     1.028183  0.310450  0.033325  ...  0.018174
           23522   0.149204     0.845524 -0.035351  0.064359  ... -0.013003
           75824   4.214064     0.086138  0.003968  0.375405  ...  0.001342
           76014   0.441731     1.506417  0.083045  0.148680  ...  0.002257
           129371  0.169081     1.197614  0.235894  0.065669  ...  0.029722
...                     ...          ...       ...       ...  ...       ...
2023-12-01 77686   0.219966     0.381231  0.051937  0.054336  ... -0.012389
           110708  2.579604     0.224324  0.020290  0.760739  ...  0.000223
           77970   0.334292     1.221020 -0.062910  0.013945  ... -0.009924
           9565    1.926307     2.614588 -0.023169  0.373786  ... -0.006986
           131463  1.989022     0.229889 -0.000261  0.893959  ...  0.000052

                   turnover_126d  turnover_var_126d    z_score  \
t1_index   index
2000-01-03 0            0.003022           0.336775  43.032362
           23522        0.002484           0.472298  10.113916
           75824        0.003168           0.729098        NaN
           76014        0.003886           0.509687   5.348204
           129371       0.006013           1.056336   8.349836
...                          ...                ...        ...
2023-12-01 77686        0.003985           0.431750   5.694486
           110708       0.012001           0.473572   0.648063
           77970        0.011881           0.590305   3.961255
           9565         0.013285           0.537003   3.973304
           131463       0.007469           0.391692   1.081265

                   zero_trades_126d  zero_trades_21d  zero_trades_252d  \
t1_index   index
2000-01-03 0               0.004157         0.005002          0.003226
           23522           0.004944         0.006133          0.004822
           75824           0.003974         0.004473          0.004011
           76014           0.003278         0.004529          0.003185
           129371          0.001912         0.002674          0.002260
...                             ...              ...               ...
2023-12-01 77686           0.007268         0.005775          0.007261
           110708          0.002548         0.001582          0.002992
           77970           0.002585         0.001735          0.003006
           9565            0.002241         0.002721          0.002129
           131463          0.004487         0.003086          0.004744

                   log_diff  frac_diff      sadf
t1_index   index
2000-01-03 0       0.000000   0.000000  0.000000
           23522   0.000000   0.000000  0.000000
           75824   0.000000   0.000000  0.000000
           76014   0.000000   0.000000  0.000000
           129371  0.000000   0.000000  0.000000
...                     ...        ...       ...
2023-12-01 77686   0.171796   1.194481 -1.250080
           110708  0.018898   0.624563 -0.776705
           77970   0.197150   1.228235 -1.518445
           9565    0.039123   1.378815 -1.278062
           131463  0.061175   1.207845 -2.129311

[131464 rows x 150 columns]

### X contains the feautes given and ADDED BY US

In [19]:
Y = Y.reset_index()
Y.set_index(['t1_index', 'index'], inplace=True)
Y

                   stock_exret  target  prediction  probability          t1  \
t1_index   index
2000-01-03 0          0.018070       1         1.0     0.001768  2000-01-31
           23522      0.001539       1         1.0     0.903959  2000-01-31
           75824      0.054724       1         1.0     0.878245  2000-01-31
           76014      0.009531       1         1.0     0.063819  2000-01-31
           129371     0.389768       1        -1.0     0.234751  2000-01-31
...                        ...     ...         ...          ...         ...
2023-12-01 77686      0.065845       1        -1.0     0.116757  2023-12-29
           110708     0.031191       1         1.0     0.112236  2023-12-29
           77970     -0.009602      -1         1.0     0.010973  2023-12-29
           9565       0.105924       1        -1.0     0.149794  2023-12-29
           131463     0.042407       1         1.0     0.963034  2023-12-29

                   weight_attr
t1_index   index
2000-01-03 0          0.018070
           23522      0.001539
           75824      0.054724
           76014      0.009531
           129371     0.389768
...                        ...
2023-12-01 77686      0.065845
           110708     0.031191
           77970      0.009602
           9565       0.105924
           131463     0.042407

[131464 rows x 6 columns]

### Currently, in $Y$,

*prediction* and *probability* are randomly generated, those are the columns
we must fill for the investment perdiod (2008-) we our true probabilities and predictions.

## WE WANT TO PREDICT TARGET, which is simply the sign of stock_exret

## Weight_attr IS SO IMPORANT, PLEASE DON'T IGNORE 

As Uday did in feature importance, this weight_attr must be rescaled for the 
training period. Right now, it is scaled for the whole dataset, you must reajust
it for the training period such that the suym of the weight = Size of the training period

*= X_train.shape[0]/X_train['weight_attr'].sum()

Uday did it I believe

Refer to section 4.6 if you have any doubts

## Method

The method is explained in the FIAM instructions, please refer to pages\
6 and 7, sections **Performance evaluation** AND **Training Procedures**\
(especially training procedures)

As they mention it in the doc, they provided an implementation of the method,

penalized_linear_hackathon.py

## THE CLASSIFIER

You can use one of the following. For clarification, refer to **6.4**

I believe clf2 is the best one

### This is from my deprado repo, *ch_06.ipynb*

```python
# Libraries
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Dataset
X, Y = f_ch8.getTestData(n_features=40, n_informative=3, n_redundant=30, n_samples=10000)
Y = Y["bin"]

# usual RF
clf0 = RandomForestClassifier(
    n_estimators=1_000,  # 1_000 trees
    class_weight="balanced_subsample",  # prevent minority class from being ignored
    criterion="entropy"  # information gain
)

# Ensemble of estimators with base estimator as a decision tree
clf1 = DecisionTreeClassifier(
    criterion="entropy",  # information gain
    max_features="sqrt",  # sqrt(n_features) to force diversity among trees
    class_weight="balanced"  # prevent minority class from being ignored
)
clf1 = BaggingClassifier(
    estimator=clf1,  # base estimator
    n_estimators=1_000,  # 1_000 trees
    max_samples=0.6,  # average uniqueness
    max_features=1.0  # all features for bagging
)

# Bagging classifier on RF where max_samples is set to average uniqueness
clf2 = RandomForestClassifier(
    n_estimators=1,  # 1 tree
    criterion="entropy",  # information gain
    bootstrap=False,  # no bootstrap
    class_weight="balanced_subsample"  # prevent minority class from being ignored
)

clf2 = BaggingClassifier(
    estimator=clf2,  # base estimator
    n_estimators=1_000,  # 1_000 trees
    max_samples=1.0,  # average uniqueness
    max_features=1.0  # all features for bagging
)
```

## Hyperparameter Tunning

### Here is why the weights are so important

Refer to *9.4* , you can use accuracy, but negative log likelihood is suggested,\
since it takes into account the probability of the prediction.

For the hyperparaemtes, i believe you guys can figure out better than me what
to set

## Please be aware of the bugs mentioned in

- 7.5 BUGS IN SKLEARN’S CROSS-VALIDATION
- SNIPPET 9.2 AN ENHANCED PIPELINE CLASS

## I'M AVAILABLE ALL DAY, PLEASE ASK ME ANYTHING, LET'S GOOOOO